/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
   Reset CSS
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
    font-family: Arial;
    font-size: 16px;
    line-height: 25px;
    background-color: #edf2f4;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}


/* Main Styles */
.clearfix {
    clear: both;
}
.full-width {
    width: 100%;
    float: left;
}

.inner {
    max-width: 1363px;
    height: 100%;
    margin: 0 auto;
    position: relative;
}

h1 {
    font-size: 50px;
    line-height: 50px;
    color: #2b2d42;
    text-transform: uppercase;
}

h2 {
    font-size: 30px;
    line-height: 30px;
    color: #2b2d42;
    text-transform: uppercase;
}

h3 {
    font-size: 18px;
    line-height: 18px;
    color: #353535;
    text-transform: uppercase;
}

a {
    outline: none !important;
}


header {
    position: absolute;
    width: 100%;
    z-index: 3;
}

nav ul li {
    display: inline-block;
    float: left;
}

nav ul li.logo {
    margin-top: -20px;
}

nav ul li.logo a{
    padding: 0 60px;
}

nav ul li a{
    padding: 0 30px;
    text-transform: uppercase;
    text-decoration: none;
    color: #2b2d42;
    font-size: 13px;
}

nav {
    margin: 0 auto;
    max-width: 786px;
    margin-top: 40px;
}


.mobile-menu-icon {
    width: 29px;
    height: 18px;
    position: absolute;
    right: 5%;
    top: 20px;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: .5s ease-in-out;
    -moz-transition: .5s ease-in-out;
    -o-transition: .5s ease-in-out;
    transition: .5s ease-in-out;
    cursor: pointer;
    display: none;
}

.mobile-menu-icon span{
    display: block;
    position: absolute;
    height: 4px;
    width: 100%;
    background: #d90429;
    border-radius: 9px;
    opacity: 1;
    left: 0;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: .25s ease-in-out;
    -moz-transition: .25s ease-in-out;
    -o-transition: .25s ease-in-out;
    transition: .25s ease-in-out;
}

.mobile-menu-icon span:nth-child(1) {
    top: 0;
    -webkit-transform-origin: left center;
    -moz-transform-origin: left center;
    -o-transform-origin: left center;
    transform-origin: left center;
}

.mobile-menu-icon span:nth-child(2) {
    top: 7px;
    -webkit-transform-origin: left center;
    -moz-transform-origin: left center;
    -o-transform-origin: left center;
    transform-origin: left center;
}

.mobile-menu-icon span:nth-child(3) {
    top: 14px;
    -webkit-transform-origin: left center;
    -moz-transform-origin: left center;
    -o-transform-origin: left center;
    transform-origin: left center;
}

.mobile-menu-icon.open span:nth-child(1) {
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
    top: -3px;
    left: 8px;
}

.mobile-menu-icon.open span:nth-child(2) {
    width: 0;
    opacity: 0;
}

.mobile-menu-icon.open span:nth-child(3) {
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
    top: 18px;
    left: 8px;
}

.hero {

}

.hero .hero-slider .slick-slide {
    background-image: url('images/bg-hero.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    height: 120vh;
}

.hero .content {
    max-width: 373px;
    float: right;
    text-align: right;
    margin-top: 40vh;
}

.slick-slide img {
     display: inline-block;
}

.slick-prev {
    display: none !important;
}

.slick-next {
    right: 0 !important;
}

.hero .content h1 {
   margin-bottom: 75px;
}

.hero .content p {
   line-height: 25px;
    margin-bottom: 50px;
}

.section-two {
    padding-top: 100px;
    margin-bottom: 110px;
}

.line-one {
    clear: both;
}

.info-block {
    background-color: #d90429;
    position: relative;
}

.line-one .info-block {
    float: left;
    max-width: 30%;
    padding: 5%;
    padding-bottom: 235px;
    margin-top: -265px;
}

.info-block:before {
    background: #d90429;
    top: -100px;
    content: '';
    display: block;
    height: 100px;
    left: 0;
    position: absolute;
    right: 0;
    transform: skewY(-5.5deg);
    transform-origin: 100%;
    z-index: 1;
}

.line-one .info-block h2 {
    color: #fff;
    font-size: 30px;
    text-transform: uppercase;
    line-height: 50px;
    margin-bottom: 85px;
    position: relative;
    z-index: 2;
}

.line-one .info-block p {
    color: #fff;
    line-height: 25px;
    margin-bottom: 35px;
    position: relative;
    z-index: 2;
}

.line-one img {
    float: left;
    max-width: 60%;
}

.line-two {
    clear: both;
}

.block.left {
    float: left;
}

.block.right {
    float: left;
}

.line-two .block.left {
    width: 40%;
    margin-top: 180px;
    position: relative;
}

.line-two .block.left .slider {
    max-width: 375px;
    margin: 0 auto;
    position: relative;
}

.line-two .block.left .button {
    top: 50px;
    width: 11px;
    height: 19px;
    background-color: transparent;
    border: none;
    position: absolute;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    cursor: pointer;
    outline: none;
}

.line-two .block.left .button.prev {
    background-image: url("images/icon-arrow-prev.png");
    left: 65px;
}

.line-two .block.left .button.next {
    background-image: url("images/icon-arrow-next.png");
    right: 65px;
}

.line-two .block.left .item {
    max-width: 260px;
    margin: 0 auto;
    position: relative;
}

.line-two .block.left .item p {
    padding-left: 20px;
    margin-bottom: 60px;
}

.line-two .block.left .item .info img {
    float: left;
    margin-right: 15px;
}

.line-two .block.left .item .info p {
    font-size: 23px;
}

.line-two .block.right {
    width: 60%;
    margin-top: -15px;
}

.line-two .block.right h2 {
    text-align: center;
    margin-bottom: 90px;
    font-size: 35px;
}

.line-two .block.right div {
    width: 40%;
    float: left;
}

.line-two .block.right div:first-of-type {
    margin-right: 15%;
    padding-left: 5%;
}

.line-two .block.right p {
    margin-bottom: 35px;
}

.section-three {
    clear: both;
    background-image: url("images/bg-section-3.jpg");
    height: 440px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.section-four {
    background-color: #d90429;
    float: left;
    position: relative;
    padding: 30px 0 30px 0;
}

.section-four:before {
    background-color: #d90429;
    width: 100%;
    top: -100px;
    content: '';
    display: block;
    height: 183px;
    left: 0;
    position: absolute;
    right: 0;
    transform: skewY(-2.5deg);
    transform-origin: 100%;
    z-index: 1;
}

.section-four .inner {
    z-index: 2;
}

.section-four .block:first-of-type {
    margin-top: 110px;
    padding-right: 5%;
}

.section-four .block:last-of-type {
    padding-left: 5%;
}

.section-four .block h2 {
    color: #fff;
    margin-bottom: 50px;
    padding-right: 100px;
}

.section-four .block p {
    color: #fff;
    margin-bottom: 40px;
}

.section-four .block {
    width: 45%;
}

.section-five {
    margin-top: 80px;
    margin-bottom: 115px;
}

.section-five h2 {
    text-align: center;
    margin-bottom: 65px;
}

.single-post {
    max-width: 418px;
    float: left;
    margin-right: 5%;
    width: 30%;
}

.posts-container {
    float: left;
    width: 100%;
    margin-bottom: 60px;
}

.single-post:last-of-type {
    margin-right: 0;
}

.single-post .thumbnail-container {
    width: 100%;
    height: 240px;
    overflow: hidden;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    margin-bottom: 50px;
}

.single-post:first-of-type .thumbnail-container {
    background-image: url("images/img-post-1.jpg");
}

.single-post:nth-of-type(2) .thumbnail-container {
    background-image: url("images/img-post-2.jpg");
}

.single-post:nth-of-type(3) .thumbnail-container {
    background-image: url("images/img-post-3.jpg");
}

.single-post h3 {
    text-align: center;
    padding-bottom: 30px;
    margin-bottom: 35px;
    position: relative;
}

.single-post h3:after {
    position: absolute;
    content: '';
    width: 37px;
    height: 4px;
    background-color: #ef233c;
    bottom: 0;
    left: 50%;
    margin-left: -18px;
}

.single-post p {
    text-align: center;
}

.btn {
    max-width: 235px;
    display: block;
    padding: 28px 40px;
    background-color: #2b2d42;
    color: #fff;
    text-transform: uppercase;
    text-decoration: none;
    background-image: url("images/icon-arrow-right.png");
    background-position: center right 40px;
    background-repeat: no-repeat;
    margin: 0 auto;
    font-size: 18px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
}

.section-six {
    background-image: url("images/img-section-contacts.jpg");
    height: 590px;
    background-repeat: no-repeat;
    margin-left: calc((100% - 1363px)/2);
    width: calc(100% - (100% - 1363px)/2);
    background-size: cover;
}

.section-seven {
    padding-bottom: 110px;
}

.section-seven .block.left {
    width: 50%;
    margin-right: 10%;
    padding-left: 3%;
    padding-top: 80px;
}

.section-seven .block.left h2 {
    margin-bottom: 85px;
}

.section-seven .block.left p {
    margin-bottom: 40px;
}

.section-seven .block.right {
    width: 37%;
    margin-top: -345px;
}

.section-seven .block.right .info-block {
    padding-bottom: 245px;
}

.section-seven .block.right .info-block h2 {
    color: #fff;
    max-width: 290px;
    margin: 0 auto;
    line-height: 42px;
    margin-bottom: 125px;
    padding-top: 65px;
}

.section-seven form {
    padding: 0 45px;
}

.section-seven form input[type=text],
.section-seven form input[type=email] {
    width: calc(100% - 15px);
    line-height: 57px;
    height: 57px;
    border: none;
    padding-left: 15px;
    border-bottom: 4px solid #2b2d42;
    margin-bottom: 30px;
    font-size: 18px;
    color: #2b2d42;
    outline: none;
}



.section-seven form .btn {
    border: none;
    cursor: pointer;
    margin: 0;
    text-align: left;
    max-width: 285px;
    margin-top: 70px;
    width: 100%;
}

footer {
    margin-top: -60px;
    background-color: #2b2d42;
    padding-top: 95px;
    padding-bottom: 80px;
    color: #fff;
    text-align: center;
    position: relative;
}

footer:before {
    background-color: #2b2d42;
    width: 100%;
    top: -84px;
    content: '';
    display: block;
    height: 183px;
    left: 0;
    position: absolute;
    right: 0;
    transform: skewY(-2.5deg);
    transform-origin: 100%;
    z-index: 1;
}

footer .inner {
    z-index: 2;
}

footer img {
    margin-bottom: 40px;
}

footer p {
    color: #9597a1;
    font-size: 12px;
}

.mobile-logo {
    display: none;
}

@media (max-width: 1366px) {
    .inner {
        padding: 0 30px;
    }
}

@media (max-width: 1024px) and (min-width: 720px) {
    nav ul {
        width: 145px;
        background-color: rgba(217, 4, 41, 0.2);
        position: absolute;
        right: 5%;
        top: 45px;
        display: none;
    }

    .mobile-menu-icon {
        display: block;
    }

    .mobile-logo {
        display: block;
        width: 100px;
    }

    .logo {
        display: none;
    }

    nav {
        margin-top: 20px;
        padding: 0 5%;
    }

    .hero .content {
        margin-top: 25vh;
    }

    .line-one .info-block {
        max-width: 100%;
        padding: 5%;
        padding-bottom: 35px;
        margin-top: -165px;
    }

    .line-one img {
        max-width: 100%;
    }

    .line-two .block.left {
        width: 100%;
        margin-top: 80px;
    }

    .line-two .block.right {
        width: 100%;
        margin-top: 0;
    }

    .section-four .block:first-of-type {
        margin-top: 40px;
        padding-right: 0;
    }

    .section-four .block:last-of-type {
         padding-left: 0;
    }

    .section-four .block {
        width: 100%;
    }

    .section-seven .block.left {
        width: 100%;
        margin-right: 10%;
        padding-left: 3%;
        padding-top: 80px;
    }

    .section-seven .block.right {
        width: 100%;
        margin-top: 90px;
    }

    .section-seven {
        padding-bottom: 50px;
    }

    footer {
        margin-top: -60px;
    }
}

@media (max-width: 719px) and (min-width: 0px) {
    .mobile-menu-icon {
        display: block;
    }

    .mobile-logo {
        display: block;
        width: 40%;
    }

    .mobile-logo img{
        max-width: 100%;
    }

    nav ul {
        width: 145px;
        background-color: rgba(217, 4, 41, 0.2);
        position: absolute;
        right: 5%;
        top: 45px;
        display: none;
    }

    .logo {
        display: none;
    }

    h1 {
        font-size: 40px;
    }

    nav {
        margin-top: 20px;
        padding: 0 5%;
    }

    .hero .content {
        max-width: 100%;
        margin-top: 28vh;
    }

    .inner {
        padding: 0 5%;
    }

    .line-one .info-block {
        max-width: 100%;
        padding: 5%;
        padding-bottom: 35px;
        margin-top: -100px;
    }

    .line-one img {
        max-width: 100%;
    }

    .line-two .block.left {
        width: 100%;
        margin-top: 80px;
    }

    .line-two .block.right {
        width: 100%;
        margin-top: 0;
    }

    .single-post {
        width: 100%;
        margin-top: 80px;
        float: none;
        margin-left: auto;
        margin-right: auto;
    }

    .section-four .block:first-of-type {
        margin-top: 40px;
        padding-right: 0;
    }

    .single-post:last-of-type {
        margin-right: auto;
    }

    .section-four .block:last-of-type {
         padding-left: 0;
    }

    .section-four .block {
        width: 100%;
    }

    .section-seven .block.left {
        width: 100%;
        margin-right: 10%;
        padding-left: 3%;
        padding-top: 80px;
    }

    .section-seven .block.right {
        width: 100%;
        margin-top: 80px;
    }

    .btn {
        max-width: 285px;
        margin-top: 70px;
        background-image: none;
        text-align: center;
        width: 100%;
        padding: 28px 0;
    }

    .section-seven form .btn {
        text-align: center;
    }

    .section-seven .block.right .info-block h2 {
        padding: 0 5%;
        padding-top: 65px;
    }

    .line-two .block.right div:first-of-type {
        margin-right: 0;
        padding-left: 0;
    }

    .section-seven form {
        padding: 0 5%;
    }

    .line-two .block.right div {
        width: 100%;
        float: left;
    }


    footer {
        margin-top: -60px;
    }
}